.hover-section{
  .proposal-actions {
    color: #9b9b9b;
  }
  
  &:hover{
    background-color: $white;
    border: $border;
    cursor: pointer;

    > :first-child{
      border-right: $border;
    }

    .proposal-actions {
      color: #3d393c;
    }
  }

  a{
    color: inherit;
  }

  .hidden-section{
    display: none;
  }
}
