@import "stylesheets/decidim/proposals/proposals/preview";

#proposals {
  background-color: $white;
  padding: 1rem;
}

.proposal {
  padding: 1rem;
  border: 1px solid $white;
  border-bottom-color: #e9e9e9;

  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }

  &__actions {

    .right-column {
      display: flex;
      justify-content: space-between;
    }

    a {
      color: #39747f;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.proposal--active {
  border: 1px solid $dark-gray;
  border-radius: 4px;
}

.emendation {
  .amendment__header {
    padding: 1rem;
  }

  .amendment__author {
    display: flex;
  }

  .amendment__body {
    padding: 0.5rem 1rem;
  }

  .amendment__actions {
    padding: 0.5rem 1rem;
  }
}

.hover-section{
  .proposal-actions {
    color: #9b9b9b;
  }

  &:hover{
    .proposal {
      background-color: #f9f9f9;
    }

    .proposal-actions {
      color: #3d393c;
    }
  }

  .hidden-section{
    display: none;
  }
}
