@import "stylesheets/decidim/proposals/proposals/preview";

#proposals {
  background-color: $white;
  padding: 1.125rem;
}

.proposal {
  padding: 1rem;
  border: 1px solid $white;
  border-bottom-color: #f4f4f4;

  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }

  &__actions {
    .right-column {
      display: flex;
      justify-content: space-between;
    }

    a {
      color: $secondary;
      font-weight: 600;
      font-size: .9rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__overview {
    h2 {
      fonz-size: 1.625rem;
    }
    h3 {
      font-size:  1.125rem;
    }
    .amendments, .comments {
      background-color: #f4f4f4;
      padding: 1.125rem;
    }
    .amendments {
      margin-bottom: 1.125rem;
      h3 {
        margin: 0;
      }
      .card {
        margin-bottom: 0;
        margin-top: 1rem;
      }
    }
    .comments__header {
      h3 {
        float: left;
      }
      a {
        float: right;
        font-size: .9rem;
      }
    }
  }
}

.proposal--active {
  border: 1px solid #3c393b;
  border-radius: 4px;
}

.emendation {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  .amendment__header {
    padding: 1rem 1rem 0.5rem 1rem;
  }

  .amendment__author {
    display: flex;
  }

  .amendment__date {
    font-style: italic;
    color: #9b9b9b;
    font-size: 0.7rem;
  }

  .amendment__body {
    padding: 0.5rem 1rem;
  }

  .amendment__actions {
    padding: 0rem 1rem 1rem 1rem;
    font-size: .9rem;
  }
}

.proposal__overview {
  position: static;
}

.proposal__overview--sticky {
  position: fixed;
  max-width: 470px;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
}

.hover-section{
  .proposal-actions {
    color: #9b9b9b;
  }

  &:hover{
    .proposal {
      background-color: #f4f4f4;
    }

    .proposal-actions {
      color: #3d393c;
    }
  }

  .hidden-section{
    display: none;
  }
}
