@import "stylesheets/decidim/proposals/proposals/preview";

.proposal-actions {
  padding: 0 1rem;

  .right-column {
    display: flex;
    justify-content: space-between;
  }
}

#proposals {
  background-color: white;
  padding: 0 1rem;
}

.proposal {
  padding: 1rem; 
  border-bottom: 1px solid #e9e9e9;
}

.proposal--sidebar {
  .comment--nested {
    background-color: transparent;
  }
}

.proposal--active {
  border: 1px solid $dark-gray;
}

.emendation {
  .amendment__header {
    padding: 1rem;
  }

  .amendment__author {
    display: flex;
  }

  .amendment__body {
    padding: 0.5rem 1rem;
  }

  .amendment__actions {
    padding: 0.5rem 1rem;
  }
}
